<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Route</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://kit.fontawesome.com/a00d1b9a18.js" crossorigin="anonymous"></script>
</head>
<body>

<h1>TEST</h1>

<form method="post" action="/api/v1/rentals" enctype="multipart/form-data">
    <input type="file" accept="image/jpeg" multiple name="images">
    <input type="text" name="name" placeholder="Name">
    <textarea placeholder="Description" name="description"></textarea>
    <input type="time" name="checkInTime" placeholder="Check-in Time">
    <input type="time" name="checkOutTime" placeholder="Check-out Time">

    <input type="submit" value="Add Rental">
</form>

</body>
</html>